:root {
	--palette-mint: hsl(140, 62%, 85%);
	--palette-mint-light: hsla(140, 62%, 80%, 9.375%);
	--palette-mint-dark: hsla(140, 100%, 16%, 9.375%);
	--palette-mint-lighter: hsla(140, 100%, 90%, 37.5%);
	--palette-mint-darker: hsla(140, 100%, 16%, 30%);
	--palette-mint-darkest: hsla(140, 100%, 16%, 70%);
	--palette-seafoam: hsl(170, 50%, 50%);
	--palette-seafoam-lightest: hsla(170, 50%, 70%, 70%);
	--palette-seafoam-darkest: hsla(170, 100%, 16%, 70%);
	--palette-lemongrass: hsl(70, 61%, 85%);
}
body {
	background-color: var(--palette-mint-darker);
	font-family: "Ubuntu Sans";
	font-weight: 320;
	display: flex;
	/*overflow: hidden;*/
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
}

div.main {
	width: 96vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
	overflow: hidden;
	/*align-items: center;
	justify-content: center;*/
	align-self: start;
	justify-self: left;
	background-color: var(--palette-mint);
	border-color: var(--palette-mint-darker);
	border-width: 0 4vw 0 0;
	border-style: solid;
}

div.main div.main-left {
	display: flex;
	flex-flow: inherit;
	height: 100%;
	/*overflow: inherit;*/
}

.header {
	color: var(--palette-seafoam);
	flex: 0 1 auto;
	flex-flow: column;
	align-self: center;
	justify-content: center;
	padding: 0 1em;
}

div.content {
	background-color: var(--palette-mint-dark);
	/*display: flex;*/
	flex: 1 1 auto;
	flex-flow: column;
	overflow-y: auto;
	/*padding-right: 17px;
	box-sizing: content-box;*/
	-ms-overflow-style: none;
	scrollbar-width: none;
}

div.content section {
	background-color: hsl(170, 30, 70);
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	padding: 1rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--palette-mint-darker);
}
div.content section h2 {
	display: flex;
	flex: 0 0 auto;
	flex-flow: column;
	width: 90%;
	padding: 0 1rem;
	border-style: solid;
	border-width: 0px 0;
	border-color: var(--palette-mint-darker);
}
div.content section img {
	display: flex;
	flex-flow: column;
	height: 240pt;
	width: 320pt;
}
.subsection {
	display: flex;
	flex: 0 1 auto;
	flex-flow: column;
	background-color: var(--palette-lemongrass);
	width: calc(100% * (pow(2, 0.2) - 1));
	min-width: 8rem;
	padding: 0 1rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--palette-mint-darker);
	margin: 0 1em;
}

.vertical-bar {
	width: 50%;
	min-height: 1000px;
	background-color: var(--palette-mint-dark);
	/*margin-bottom: 2em;*/
	border: 0;
	border-top: 2em;
	border-bottom: 2em;
	border-style: solid;
	border-top-color: var(--palette-mint-dark);
	border-bottom-color: var(--palette-mint-lighter);
}

.footer {
	background-color: var(--palette-mint-light);
	flex: 0 0 2rem;
}

.sidebar {
	display: hidden;
	flex-flow: column;
}
