:root {
	--palette-mint: hsl(140, 62%, 85%);
	--palette-mint-light: hsla(140, 62%, 80%, 9.375%);
	--palette-mint-dark: hsla(140, 100%, 16%, 9.375%);
	--palette-mint-lighter: hsla(140, 100%, 90%, 37.5%);
	--palette-mint-darker: hsla(140, 100%, 16%, 30%);
}
body {
	background-color: var(--palette-mint-darker);
	display: flex;
	/*overflow: hidden;*/
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin: 0;
	border: 0;
	padding: 0;
	height: 100%;
}

div.main {
	width: 96vw;
	height: 100vh;
	display: flex;
	flex-flow: column;
	overflow: hidden;
	/*align-items: center;
	justify-content: center;*/
	align-self: start;
	justify-self: left;
	background-color: var(--palette-mint);
	border-color: var(--palette-mint-darker);
	border-width: 0 4vw 0 0;
	border-style: solid;
}

div.main div {
	display: flex;
	flex-flow: inherit;
	height: 100%;
	/*overflow: inherit;*/
}

.header {
	flex: 0 1 auto;
	flex-flow: column;
	align-self: center;
	justify-content: center;
	padding: 0 1em;
}

div.content {
	background-color: var(--palette-mint-dark);
	/*display: flex;*/
	flex: 1 1 auto;
	flex-flow: column;
	overflow-y: auto;
	/*padding-right: 17px;
	box-sizing: content-box;*/
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.vertical-bar {
	width: 50%;
	min-height: 1000px;
	background-color: var(--palette-mint-dark);
	/*margin-bottom: 2em;*/
	border: 0;
	border-top: 2em;
	border-bottom: 2em;
	border-style: solid;
	border-top-color: var(--palette-mint-dark);
	border-bottom-color: var(--palette-mint-lighter);
}

.footer {
	background-color: var(--palette-mint-light);
	flex: 1 0 2rem;
}

.sidebar {
	display: hidden;
	flex-flow: column;
}
